/*@media (max-width: 700px) {
  img{
    display: none;
  }
*/
#smiley {
  height: 10em;
  width: 10em;;
  position:absolute;
  left:1em;
  top: 3em;
}

.clearfix {
  overflow: auto;
}

header{
  height: 17em;
  background: #232323;
}

h1{
  text-align: center;
  padding:1.5em;
  font-size: 350%
}

#contact-items{
  padding-left: 1em;
}

#contact{
  display: block;
  text-align: left;
  float:right;
  margin-top: 3em;
  margin-right:5px;
}

.contact-link{
  display:block;
  text-decoration: none;
}

body {
  color: white;
  background: #727272;
}
